<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap css link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
  <!-- Font awesome link -->
  <script src="https://kit.fontawesome.com/2b6b66256a.js" crossorigin="anonymous"></script>
  <!-- bootstrap javasript link -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

  <!--CSS link-->
  <link rel="stylesheet" href="/css/style.css">
  <!-- CSS external link for signupform -->
  <link rel="stylesheet" href="/css/signUpForm.css">

  <title>Gully Cricket Scoring Board</title>
  <link rel="icon" href="/Images/Helmet.png" type="image/png" sizes="16x16">
</head>

<body>
  <!-- Menu Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img class="brandImage" src="/Images/Helmet.png" alt="">
    </a>
    <a class="navbar-brand brandName" href="#">Criczzz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menuBar" id="navbarText">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="signInButton" onclick="signInButton()" href="#">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="signUpButton" onclick="signUpbutton()" href="#">sign-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>
  </nav>



  <!-- main top page   -->
  <div class="row">
    <div class="topRightContainer col-lg-6 ">
      <div class="heading">
        <img class="brandImage2" src="/Images/Helmet.png">
        <div class="brandNameandTag">
          <h1>Criczzz</h1>
          <h6>Score your game</h6>
        </div>
      </div>
    </div>

    <div class="topLeftContainer col-lg-6">
      <h1 class="welcome">Welcome</h1>
      <p class="IntroductionText"> Must you with him from him her were more. <br>
        In eldest be it result should remark vanity square.<br>
        Unpleasant especially assistance sufficient he<br> comparison so inquietude.
        Branch one shy.
      </p>


    </div>
  </div>

  <!-- Carousal middle container -->
  <div class="middle-container">
    <h1 class="headingOfMiddleContainer">What you can do.</h1>
    <hr class="tophr">


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
      <section id="features">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <h1>Ball to Ball scoring</h1>
            <p class="paragraph">Stop using painful paper scorecards and score your matches on CricHeroes App just like an international match.</p>

          </div>
          <div class="carousel-item">
            <h1>Live Scoring</h1>
            <p class="paragraph">Share your live scores with the world and explore live scores of local cricket matches around you.</p>

          </div>
          <div class="carousel-item">
            <h1>Tournaments</h1>
            <p class="paragraph">Score local cricket tournaments just like the IPL! Have your own dedicated Tournament Page with Schedule, Leaderboard, Points Table, Sponsors, and much more, completely FREE!</p>

          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <hr class="bottomhr">
    </div>
    </section>
    <!-- Sign In Popup form -->
    <div class="backGroundOnForm">
      <div class="signInForm">
        <form action="/signIn" method="POST">
          <h1 class="signInText">Sign In</h1>
          <input class="formTextBoxes form-control" name="username" type="text" placeholder="E-mail ID">
          <input class="formTextBoxes form-control" name="password" type="password" placeholder="Password">
          <div id="forgotPassword"><a href="">Forgot Password?</a></div>
          <button id=signInButtons type="submit" class="btn btn-danger signInButtons">Sign In</button>
          <button id="cancelButton" onclick="cancelButton()" type="button" class="btn btn-dark signInButtons">Cancel</button>
        </form>
      </div>
    </div>

    <!-- Sign Up Popup form -->
    <div class="signUpbackGroundOnForm">
      <div class="signUpform">

        <form action="/signUpForm" class="" method="POST">
          <h1>Sign UP</h1>
          <h1 class="closeButton" onclick="signUpCloseButton()" id="signUpCloseButton">+</h1>
          <input class="signUpFirstName signUpTextBoxes form-control" name="fName" type="text" placeholder="First name">
          <input class="signUpSurname signUpTextBoxes form-control" name="lName" type="text" placeholder="Last name">
          <input class="signUpEmail signUpTextBoxes form-control" name="username" type="email" placeholder="Enter email address">
          <input class="signUpPass signUpTextBoxes form-control" name="password" type="password" placeholder="Enter Password">
          <input class="signUpRePass signUpTextBoxes form-control" name="rePassword" type="password" placeholder="Re-enter Password">

          <!-- Date Picker -->
          <div class="row dob">
            <div class='col-sm-6'>
                <div class="form-group">
                  <div class='input-group date' id='datepicker'>
                    <input type='text' name="dateOfBirth" class="form-control" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
      <script>
        $(function() {
          $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
          });
        });
      </script>

      <div class="signUpText gender">Gender
        <div class="buttons"></div>
        <span class="_5k_3" data-type="radio" data-name="gender_wrapper" id="u_0_13">
          <span class="_5k_2 _5dba">
            <input type="radio" class="_8esa" name="sex" value="Female" id="u_0_6">
            <label class="radioButton" for="u_0_6">Female</label>
          </span>
          <span class="_5k_2 _5dba">
            <input type="radio" class="_8esa" name="sex" value="Male" id="u_0_7">
            <label class="radioButton" for="u_0_7">Male</label>
          </span>
        </span>
      </div>

        <button type="submit" class="btn btn-danger signUpButton">Sign up</button>
      </form>
    </div>
  </div>

  </div>
  <footer class="footer">

    <div class="footText">
      wwww.crickzzz.com <br>
      123-456-789
    </div>
    <div class="fontAwesome">
      <a href="https://www.facebook.com"><i class="fab fa-facebook fa-lg" style="color: white"></i></a>
      <a href="https://www.facebook.com"><i class="fab fa-twitter fa-lg" style="color: white"></i></a>
      <a href="https://www.facebook.com"><i class="fab fa-instagram fa-lg" style="color: white"></i></a>
    </div>
  </footer>


  <!-- External javasript link -->
  <script src="/javascript/behave.js"></script>
</body>


</html>
