.menu{
    color: #30475e;
    position: relative;
    left: 500px;
}
.navbar{
    position: relative;
}
.menubar{
    position: relative;
    text-align: right ;
} 
.topRightContainer{
    position: relative;
    background-color: #e58a8a;
    width: 600px;
    height: 600px;
    z-index: -1;
    
    
}
.topLeftContainer{
    background-color: black;
    width: 600px;
    height: 600px;
    position: relative;
    color: white;
    z-index: -1;
}
.welcome{
   padding-left: 100px;
   padding-top: 100px;
}
.IntroductionText{
    padding-left: 100px;
    padding-top: 50px;
}
.heading{
    text-align: center;
    padding-top: 200px;
    line-height: 2;
}
#features{
    position: relative;
    padding: 100px 300px 100px;

}
.tophr{
    border-style: dotted;
    border-width: 8px;
    border-color: grey;
    width: 4%;
    border-top: 1px;
}
.bottomhr{
    border-style: dotted;
    border-width: 8px;
    border-color: grey;
    width: 8%;
    border-top: 1px;
}
.footText{
    margin: auto 550px;
    padding-top: 20px;
    text-align: center;
}
.fontAwesome{
    margin: auto 590px;
    padding-top: 20px;
}
/* Sign In popupform */
.backGroundOnForm{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.signInForm{
    width: 400px;
    height: 300px;
    background-color: white;
    z-index: 1;
    border-radius: 15px;
    position: absolute;
    position: fixed;
}
.signInText{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.formTextBoxes{
   width: 50%;
   display: block;
   margin: 15px auto;
 
}
.signInButtons{
    width: 30%;
    position: relative;
    left: 80px; 
    top: 20px;
}
#forgotPassword{
    position: relative;
    left: 100px;
}
.footer{
    background-color: black;
    height: 200px;
    color: blanchedalmond;
}
.paragraph{
    position: relative;
    width: 50%;
    margin-bottom: 100px;
}

/* Middle Container */
.headingOfMiddleContainer{
    text-align: center;
    margin: 15px auto;
}
